body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #dad8d8;
}

.navbar{
    background-color: rgb(235, 235, 235);
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgb(217, 217, 217);
}

.navbar img{
    width: 50px;
}

.nav-left{
    padding-right: 20px;
    width: 100%;
}

.nav-left a{
    text-decoration: none;
    color: black;

}


.nav-left ul{
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 .nav-left ul li{
   padding-left: 40px;
  
 }

 .nav-right{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    padding-right: 50px;
 
 }
 
 .nav-right a{
    background-color: rgb(13, 12, 12);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
 }

 .nav-right a:hover{
    font-size: 120%;
    background-color: coral;
    transition: 0.3s;
 }

 .container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;

}

.container h1{
    text-align: center;
    font-size: 40px;

}

.head-content{
    display: flex;
    margin-top: 50px;
}

.gambar{

    width: 180%;
}

.gambar img{
    width: 100%;
   max-height: 500px;
}

.duration{
    margin-left: 40px;
}

.duration div{
margin-top: 30px;
}

.duration span{
    margin-left: 10px;
}

.duration2{
    margin-left: 40px;
}

#tech{
    margin-top: 50px;
}

.duration2 span{
    margin-left: 10px;
}

.right-content{
    width: 100%
}

.sub-title{
font-weight: bold;
font-size: x-large;
}

.sub-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 90px;
    justify-content: center;
    gap: 10px;
}

.react{
    margin-top: 30px;
}


