body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCE0E4;
    margin: 0;
}

.title{
    text-align: center;
    margin-top: 60px;
}

form{
    width: 350px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

form div{
    margin-top: 20px;
   
    
}

label{
    font-weight: bold;
    font-size: 15px;
   
}

input, select, textarea{
    
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(219, 219, 219);
}

select{

    width: 100%;
}

button{
    
    background-color: black;
    color:white;
    padding: 6px 25px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.submit{
    text-align: right;
    margin-right: 7px;
}

button:hover{
    font-size: 120%;
    background-color: coral;
    transition: 0.3s;
    
}
textarea{
    resize: none;
}

.nav-left{

background-color: white;
width: 100%;
align-items: center;

}

.nav-left a{
background-color: white;
text-decoration: none;
color: rgb(12, 12, 12)
}

.nav-left ul{
display: flex;
list-style-type: none;

}

.nav-left ul li{
display: flex;
align-items: center;
margin-right:  35px;

}

.nav-left ul li img{
   
    margin-right:  25px;
    
    }

.nav-right{
display: flex;
width: 100%;
background-color: white;
align-items: center;
justify-content: end;

}

.nav-right a{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: end;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin-right: 50px;
    }

nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}

.container{
    width: 80%;
    height: 600px;
    background-color: azure;
}
img{
    width: 50px;
}


.card{
    width: 900px;
    height: 200px;
    box-shadow: 5px 5px 25px rgb(205, 205, 205);
    display: flex;
    margin: auto;
    background-color: white;
}

.card .image{
    width: 40%;
    background-color: aqua;
    align-items: center;
    display: flex;
}

.card .image img{
    width: 100%;
    padding: 5px 5px;
}
.card .isi{

    margin-left: 30px;
    text-align: left;
    width: 60%;
}

